In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings

warnings.filterwarnings('ignore')

#pd设置打印宽度，为了不换行显示
pd.set_option('display.width', 1000)

In [33]:
# symbol,datetime,open,high,low,close,volume,end_time,amount,count,buy_amount,buy_volume
# 请先下载BTCUSDT.csv,放到本文件所在目录下 google云盘地址  https://drive.google.com/file/d/1R7Hfb6KeJ7T3w98YfKQNv13g_QYeHVRF/view?usp=sharing
df = pd.read_csv('./BTCUSDT.csv', parse_dates=['datetime'])
df

         symbol            datetime      open      high       low     close     volume      end_time        amount   count  buy_amount    buy_volume
0       BTCUSDT 2023-01-01 00:00:00  16590.10  16596.97  16590.10  16595.81  137.22138  1.672502e+12  2.277073e+06  2960.0    78.06546  1.295427e+06
1       BTCUSDT 2023-01-01 00:01:00  16596.09  16597.31  16593.10  16596.20   94.84752  1.672503e+12  1.574019e+06  2108.0    47.79675  7.932087e+05
2       BTCUSDT 2023-01-01 00:02:00  16596.58  16597.77  16595.22  16596.62   93.61909  1.672503e+12  1.553757e+06  1835.0    58.00708  9.627263e+05
3       BTCUSDT 2023-01-01 00:03:00  16596.62  16597.06  16591.89  16592.96   58.01671  1.672503e+12  9.627503e+05  2007.0    27.81212  4.615290e+05
4       BTCUSDT 2023-01-01 00:04:00  16592.96  16593.36  16591.20  16591.91   46.57669  1.672503e+12  7.728188e+05  1803.0    22.81419  3.785432e+05
...         ...                 ...       ...       ...       ...       ...        ...           ...           ...     ...         ...           ...
921074  BTCUSDT 2024-10-01 16:34:00  63996.19  64003.26  63974.00  63974.01   64.91025  1.727772e+12  4.153376e+06  2201.0    48.15531  3.081207e+06
921075  BTCUSDT 2024-10-01 16:35:00  63974.01  63974.01  63956.00  63967.99   11.91943  1.727772e+12  7.623644e+05  1278.0     8.72609  5.581002e+05
921076  BTCUSDT 2024-10-01 16:36:00  63968.00  63978.52  63967.99  63976.01    4.32433  1.727772e+12  2.766376e+05  1516.0     2.85449  1.826031e+05
921077  BTCUSDT 2024-10-01 16:37:00  63976.02  63976.02  63965.11  63966.01    7.41094  1.727772e+12  4.740758e+05   563.0     0.22131  1.415713e+04
921078  BTCUSDT 2024-10-01 16:38:00  63966.01  63980.00  63958.00  63958.00   26.62013  1.727772e+12  1.702886e+06  1625.0    16.12930  1.031746e+06

[921079 rows x 12 columns]

In [34]:
print(df.head(10))
print(df.tail(6))

    symbol            datetime      open      high       low     close     volume      end_time        amount   count  buy_amount    buy_volume
0  BTCUSDT 2023-01-01 00:00:00  16590.10  16596.97  16590.10  16595.81  137.22138  1.672502e+12  2.277073e+06  2960.0    78.06546  1.295427e+06
1  BTCUSDT 2023-01-01 00:01:00  16596.09  16597.31  16593.10  16596.20   94.84752  1.672503e+12  1.574019e+06  2108.0    47.79675  7.932087e+05
2  BTCUSDT 2023-01-01 00:02:00  16596.58  16597.77  16595.22  16596.62   93.61909  1.672503e+12  1.553757e+06  1835.0    58.00708  9.627263e+05
3  BTCUSDT 2023-01-01 00:03:00  16596.62  16597.06  16591.89  16592.96   58.01671  1.672503e+12  9.627503e+05  2007.0    27.81212  4.615290e+05
4  BTCUSDT 2023-01-01 00:04:00  16592.96  16593.36  16591.20  16591.91   46.57669  1.672503e+12  7.728188e+05  1803.0    22.81419  3.785432e+05
5  BTCUSDT 2023-01-01 00:05:00  16591.91  16593.10  16591.09  16591.93   37.37979  1.672503e+12  6.202092e+05  1596.0    16.82158  2.791079e+05
6  BTCUSDT 2023-01-01 00:06:00  16591.47  16595.98  16591.10  16591.96   84.18064  1.672503e+12  1.396807e+06  2629.0    43.14523  7.159222e+05
7  BTCUSDT 2023-01-01 00:07:00  16591.83  16593.82  16591.34  16592.51   40.84737  1.672503e+12  6.777620e+05  1556.0    27.71715  4.599021e+05
8  BTCUSDT 2023-01-01 00:08:00  16592.86  16593.51  16592.01  16592.94   31.27016  1.672503e+12  5.188578e+05  1339.0    15.62494  2.592633e+05
9  BTCUSDT 2023-01-01 00:09:00  16592.94  16593.98  16592.41  16592.91   37.07477  1.672503e+12  6.151926e+05  1446.0    19.96934  3.313605e+05
         symbol            datetime      open      high       low     close    volume      end_time        amount   count  buy_amount    buy_volume
921073  BTCUSDT 2024-10-01 16:33:00  63986.24  63999.11  63986.23  63996.19  70.50393  1.727772e+12  4.511954e+06   788.0    64.46208  4.125301e+06
921074  BTCUSDT 2024-10-01 16:34:00  63996.19  64003.26  63974.00  63974.01  64.91025  1.727772e+12  4.153376e+06  2201.0    48.15531  3.081207e+06
921075  BTCUSDT 2024-10-01 16:35:00  63974.01  63974.01  63956.00  63967.99  11.91943  1.727772e+12  7.623644e+05  1278.0     8.72609  5.581002e+05
921076  BTCUSDT 2024-10-01 16:36:00  63968.00  63978.52  63967.99  63976.01   4.32433  1.727772e+12  2.766376e+05  1516.0     2.85449  1.826031e+05
921077  BTCUSDT 2024-10-01 16:37:00  63976.02  63976.02  63965.11  63966.01   7.41094  1.727772e+12  4.740758e+05   563.0     0.22131  1.415713e+04
921078  BTCUSDT 2024-10-01 16:38:00  63966.01  63980.00  63958.00  63958.00  26.62013  1.727772e+12  1.702886e+06  1625.0    16.12930  1.031746e+06

In [35]:
# 获取列
close = df['close']
print(type(close))
print(close)

<class 'pandas.core.series.Series'>
0         16595.81
1         16596.20
2         16596.62
3         16592.96
4         16591.91
            ...
921074    63974.01
921075    63967.99
921076    63976.01
921077    63966.01
921078    63958.00
Name: close, Length: 921079, dtype: float64

In [36]:
# 列对象 Series
s0 = pd.Series([1, 3, 5, 7, 9])
s0

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [37]:
# Series 构成DataFrame
df1 = pd.DataFrame({
    's0': pd.Series([1, 5, 3, 7, 9]),
    's1': pd.Series([1.1, 1.8, 1.3, 1.4, 1.5]),
})
print(df1.dtypes)
df1

s0      int64
s1    float64
dtype: object

   s0   s1
0   1  1.1
1   5  1.8
2   3  1.3
3   7  1.4
4   9  1.5

In [38]:
print(df1.to_numpy())

[[1.  1.1]
 [5.  1.8]
 [3.  1.3]
 [7.  1.4]
 [9.  1.5]]

In [39]:
df1.describe()

             s0        s1
count  5.000000  5.000000
mean   5.000000  1.420000
std    3.162278  0.258844
min    1.000000  1.100000
25%    3.000000  1.300000
50%    5.000000  1.400000
75%    7.000000  1.500000
max    9.000000  1.800000

In [40]:
#转置
df1.T

      0    1    2    3    4
s0  1.0  5.0  3.0  7.0  9.0
s1  1.1  1.8  1.3  1.4  1.5

In [41]:
#按照索引排序 
df1.sort_index(axis=0, ascending=False)

   s0   s1
4   9  1.5
3   7  1.4
2   3  1.3
1   5  1.8
0   1  1.1

In [42]:
# 按照值排序
df1.sort_values('s1')

   s0   s1
0   1  1.1
2   3  1.3
3   7  1.4
4   9  1.5
1   5  1.8

In [43]:
#选择行数据,切片
print(df1[:])
print(df1[0:2])
# print(df1[1]) 要使用切片，不能单个数字
print(df1[0:2][0:1])  #切片的切片还是同一类型的切片
print(df1[0:1]['s0'].values[0])  #取具体的值

   s0   s1
0   1  1.1
1   5  1.8
2   3  1.3
3   7  1.4
4   9  1.5
   s0   s1
0   1  1.1
1   5  1.8
   s0   s1
0   1  1.1
1

In [44]:
df1.loc[0]  #取第i行，从0算起

s0    1.0
s1    1.1
Name: 0, dtype: float64

In [45]:
df1.loc[0, 's0']  # 取具体的值

1

In [46]:
df1.iloc[0, 0]  # iloc必须全部用索引

1

In [47]:
df1.at[0, 's0']  # at只能取具体的值，不能取行或列

1

In [48]:
df1.iat[0, 0]  # iat全部取索引

1

In [49]:
# bool索引 满足条件的显示，不满足为NaN
print(df1[df1 > 1])
df1[df1['s0'] > 3]

    s0   s1
0  NaN  1.1
1  5.0  1.8
2  3.0  1.3
3  7.0  1.4
4  9.0  1.5

   s0   s1
1   5  1.8
3   7  1.4
4   9  1.5

In [50]:
# 取值总结
# 取列 用 df[名称]，多个用 df1[['s0','s1']]
# 取行 用 df[索引]的切片,也可用df.loc[索引]，df.iloc[索引], loc 和iloc区别在于 iloc[索引，索引]，loc[索引，名称]
# 取具体值建议用at,iat更加高效

In [51]:
# 缺失值
df1 = pd.DataFrame({
    's0': pd.Series([1, 3, 5, 7, 9]),
    's1': pd.Series([1.2, 1.1, 1.3]),
})
df1

   s0   s1
0   1  1.2
1   3  1.1
2   5  1.3
3   7  NaN
4   9  NaN

In [52]:
df1.dropna() #删除缺失值

   s0   s1
0   1  1.2
1   3  1.1
2   5  1.3

In [53]:
df1.fillna(5) #填充缺失值

   s0   s1
0   1  1.2
1   3  1.1
2   5  1.3
3   7  5.0
4   9  5.0

In [54]:
df1.ffill() #就近填充

   s0   s1
0   1  1.2
1   3  1.1
2   5  1.3
3   7  1.3
4   9  1.3

In [55]:
# 统计  mean()均值，max()  min() 
print(df1['s0'].max())
print(df1['s0'].min())
print(df1['s0'].mean())

9
1
5.0

In [56]:
# 窗口函数
df1['s0'].rolling(3).mean() #s0的3天移动平均

0    NaN
1    NaN
2    3.0
3    5.0
4    7.0
Name: s0, dtype: float64

In [57]:
# Apply函数
df1['s0'].apply(lambda x: x*2)

0     2
1     6
2    10
3    14
4    18
Name: s0, dtype: int64

In [58]:
# 合并方法 concat
df2 = pd.DataFrame({
    's1': pd.Series([1, 3, 5,]),
    's3': pd.Series([1.1, 1.8, 1.3]),
})
pd.concat([df1,df2])

    s0   s1   s3
0  1.0  1.2  NaN
1  3.0  1.1  NaN
2  5.0  1.3  NaN
3  7.0  NaN  NaN
4  9.0  NaN  NaN
0  NaN  1.0  1.1
1  NaN  3.0  1.8
2  NaN  5.0  1.3

In [59]:
# 合并方法 merge
pd.merge(df1, df2, on='s1', how='left')

   s0   s1  s3
0   1  1.2 NaN
1   3  1.1 NaN
2   5  1.3 NaN
3   7  NaN NaN
4   9  NaN NaN

In [60]:
# 迭代
for i,(index,row) in enumerate(df.loc[0:100].iterrows()):
    print(i,index,row['close'])

0 0 16595.81
1 1 16596.2
2 2 16596.62
3 3 16592.96
4 4 16591.91
5 5 16591.93
6 6 16591.96
7 7 16592.51
8 8 16592.94
9 9 16592.91
10 10 16592.77
11 11 16592.53
12 12 16593.02
13 13 16592.15
14 14 16592.89
15 15 16586.78
16 16 16586.0
17 17 16584.88
18 18 16587.3
19 19 16590.84
20 20 16595.38
21 21 16597.56
22 22 16600.32
23 23 16600.09
24 24 16601.32
25 25 16602.0
26 26 16603.32
27 27 16603.92
28 28 16601.75
29 29 16602.22
30 30 16601.05
31 31 16602.54
32 32 16602.66
33 33 16602.25
34 34 16600.51
35 35 16601.63
36 36 16597.68
37 37 16597.72
38 38 16595.74
39 39 16595.58
40 40 16598.61
41 41 16599.09
42 42 16595.83
43 43 16597.43
44 44 16596.92
45 45 16597.06
46 46 16596.95
47 47 16596.57
48 48 16595.64
49 49 16595.65
50 50 16603.18
51 51 16603.02
52 52 16603.16
53 53 16609.34
54 54 16610.73
55 55 16603.49
56 56 16605.01
57 57 16604.41
58 58 16603.41
59 59 16600.39
60 60 16602.17
61 61 16603.11
62 62 16603.05
63 63 16600.57
64 64 16601.56
65 65 16601.37
66 66 16599.03
67 67 16601.68
68 68 16599.66
69 69 16601.27
70 70 16600.01
71 71 16596.75
72 72 16586.5
73 73 16581.84
74 74 16583.99
75 75 16584.28
76 76 16586.81
77 77 16591.54
78 78 16585.73
79 79 16578.32
80 80 16579.48
81 81 16582.01
82 82 16579.75
83 83 16583.42
84 84 16580.74
85 85 16581.26
86 86 16581.84
87 87 16581.45
88 88 16581.57
89 89 16583.43
90 90 16578.84
91 91 16580.15
92 92 16580.91
93 93 16581.34
94 94 16582.78
95 95 16582.21
96 96 16582.05
97 97 16581.54
98 98 16581.68
99 99 16580.99
100 100 16582.48